// VIEW SIZING
$phone_max: 599px; 
$tablet_portrait_min: 599px; 
$tablet_landscape_min: 599px; 
$desktop_normal_min: 599px; 
$desktop_large_min: 599px; 

// SITE COLORS
// MAINS
$purple-lighter: #8D71D9;
$purple-light: #6F51C4;
$purple-main: #5738AF;	
$purple-dark: #411FA1;
$purple-darker: #311778;
$magenta-lighter: #982E7E;
$magenta-light: #7C1F65;
$magenta-main: #590D46;	
$magenta-dark: #400732;
$magenta-darker: #290220;
// ACCENTS
$darkteal-light: #01233A;
$darkteal-dark: #001421;	
$yellow-light: #FFE24C;
$yellow-dark: #EBC918;
// MISC
$grey-light: #D1D1D1;
$grey-dark: #9E9E9E;
$white: #FFFFFF;
$black: #000000; 