.scroll-view { 
    overflow: scroll;
    margin-top: 10vh;
    margin-left: 5%;
    max-height: 90%; 
    width: 90%; 
    background-color: lightgray; 
    
    .widget { 
        height: 50rem; 
    }
    
    .footer { 
        background-color: #FFF; 
        height: 5rem;
        min-width: 100%;
    }
} 